.box{
    width:100%;
    height:11rem;
    background:#fff;
}
.btns{
    width:100%;
    height:1.2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:.2rem;
}
.btns button{
    width:60%;
    height:80%;
    background:palevioletred;
    color:#fff;
    border-radius:.1rem;
    outline: none;
    border:none;
}