.demoTitle: before,
.demoTitle: after {
    border - bottom: none;
}
.list {
    position: relative;
}
.mark{
    width:1.2rem;
    height:.6rem;
    border:2px solid palevioletred;
    border-radius:.1rem;
    text-align: center;
    line-height: .6rem;
    color:palevioletred;
    position: absolute;
    right:1rem;
    top:1.1rem;
}
.inp{
    width:95%;
    height:.81rem;
    outline: none;
    border:none;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-left:.3rem;
    color:#ccc;
}
