.list{
    width:100%;
    height:100%;
    display: flex;
    background:#fff;
    border-bottom:1px solid #eee;
}

.list dl dt img{
    width:2.2rem;
    height:2.2rem;
}
.list dl{
    display: flex;
    width:100%;
    height:3.2rem;
}
    /* .list:nth-child(1) dl:first-child dt:first-child {
    display: none;
}
        .list:first-child dl:first-child dd:first-child p:first-child {
    width:100%;
    height:1rem;
    text-align: center;
    line-height: 1rem;
    color:palevioletred;
} */
.list dl dt{
    width:40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.list dl dt span{
    display: inline-block;
    width:.6rem;
    height:.8rem;
    position: absolute;
    left:.2rem;
    top:.2rem;
}
.list dl dt span img{
    width:100%;
    height:100%;
}
.list dl dd{
    width:60%;
    height:100%;
}
.list dl dd p{
    margin-left:.2rem;
    line-height: .9rem;
    font-weight: 800;
    font-size:.3rem;
}