.foot{
    widows: 100px;;
    height:1rem;
    display: flex;
    border-top:1px solid #ccc;
    background:#fff;
}
.money{
    width:70%;
    height:100%;
}
.money p{
    margin-left:1rem;
    line-height: 1rem;
}
.close{
    width:30%;
    height:100%;
    background:#FF4891;
    text-align: center;
    line-height: 1rem;
    color:#fff;
}